node_modules
.git
.gitignore
.tmp
.cache
.strapi
dist
build
.env
.env.*
!.env.example
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
.DS_Store
Thumbs.db
.vscode
.idea
README.md
Dockerfile
.dockerignore
docker-compose*.yml
